---
import '../styles/global.css';
import Aboutlayout from '../layouts/aboutlayout.astro';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import Hamburger from '../components/Hamburger.astro';

const pageTitle = "Hola que tal hola que tal 👋";

const identity = {
    firstName: "Fernando",
    country: "México",
    occupation: "Programador",
    hobbies: ["Videojuegos", "Tech", "Pokémon", "LoL", "Futbol"]
};

const skills = ["CSS", "HTML", "Design", "UI/UX"];

const happy = true;
const finished = false;
const goal = 3;

const skillcolor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<Aboutlayout>
    <h2>Hola buenas tardes</h2>
</Aboutlayout>
